
.footer {
  background-color: #2F3440;
  border-top: 1px solid #ddd; 
  color: white;
  padding: 32px;
  
  & a {
    color: white;
  }
  
  & a:visited {
    color: white;
  }
}

.footer h2 {
  font-weight: 100;
  letter-spacing: 1px;
  margin-top: 0;
}

.footer p, 
.footer > ul, 
.footer > ol, 
.footer h1, 
.footer h2 {  
  font-size: 14px;
  max-width: 760px;
  line-height: 32px;
  letter-spacing: 0.04em;

}

.footer h1 {font-size: 36px}
.footer h2 { font-size: 32px }
.footer h3 { font-size: 28px }
.footer h4 { font-size: 24px }
.footer h5 { font-size: 20px }
.footer h6 { font-size: 16px }


.container {
  display: flex;
  max-width: 760px;
  margin: 32px auto;
}

.in-touch {
  & ul {
    list-style: none;
    text-align: center;
    margin: 64px auto 32px;
  }
  
  & li {
    display: inline-block;
    & img { vertical-align: middle; display: inline-block; padding-right: 5px;}
    padding: 1px 32px;
    line-height: 24px;
  }
}

.recent {
  padding-left: 32px;
  width: 50%;
  
  & ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
  
  & li {
    line-height: 32px;
    font-size: 14px;
  }
}

.about {
  width: 50%;
  padding-right: 32px;
}
