
.footer {
  background-color: #2F3440;
  border-top: 1px solid #ddd; 
  color: white;
}

.footer h2 {
  font-weight: 100;
  letter-spacing: 1px;
  margin-top: 0;
}

.footer p {
  line-height: 1.7em;
  font-weight: 200;
}

.container {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 20px;
}

.in-touch {
  width: 50%;
  padding: 0 20px 0 20px;
}

.about {
  width: 50%;
  padding: 0 20px 0 20px;
}
