
.footer {
  background-color: #2F3440;
  border-top: 1px solid #ddd; 
  color: white;
  padding: 32px;
  
  & a {
    color: white;
  }
  
  & a:visited {
    color: white;
  }
  
  & h2 {
    font-weight: 100;
    letter-spacing: 1px;
    margin-top: 0;
  }
  
  & p, & > ul, & > ol, & h1, & h2 { 
    font-size: 14px;
    max-width: 760px;
    line-height: 24px;
    letter-spacing: 0.04em;
  }
  
  & ul { padding: 0; }
  
  & h1 { font-size: 36px; }
  & h2 { font-size: 32px; }
  & h3 { font-size: 28px; }
  & h4 { font-size: 24px; }
  & h5 { font-size: 20px; }
  & h6 { font-size: 16px; }
}

.container {
  display: flex;
  flex-wrap: wrap-reverse;
  max-width: 760px;
  margin: 32px auto;
}

.in-touch {
  & ul {
    list-style: none;
    text-align: center;
    margin: 64px auto 32px;
  }
  
  & li {
    display: inline-block;
    & img { vertical-align: middle; display: inline-block; padding-right: 5px;}
    padding: 1px 32px;
    line-height: 24px;
  }
}

.recent {
  padding-left: 32px;
  width: 50%;
  
  & ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
  
  & li {
    margin-bottom: 24px;
    font-size: 14px;
  }
}

.about {
  width: 50%;
  padding-right: 32px;
}

@media screen and (max-width:760px) { 
  .footer {
    padding: 20px;
  }
  
  .recent, .about { 
    width: 100%; 
    padding: 0px;
  }
  
  .about {
    margin-top: 32px;
  }
  
  .in-touch {
    & ul {
      margin: 0;
      padding: 0;
      text-align: left;
    }
    
    & li {
      padding: 10px;
      display: block;
    }
  }
}
