.home {
  font-family: "ff-tisa-web-pro";
}

a {
  text-decoration: none;
}

.navBar {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.navBar h1 {
  padding: 0px;
  margin: 0px;
  font-size: 22px;
}

.container {
  max-width: 960px;
  margin: 0px auto;
}
