.home {
  font-family: "chaparral-pro";
}

.home h1, .home h2, .home h3, .home h4, .home h5, .home h6 {
  font-family: "proxima-nova";
}

.home a {
  text-decoration: none;
}

.first-post {
  padding-bottom: 60px;
}

.first-post p {
  margin: 10px 0;
}

.first-post h1 {
  margin: 0px;
}


.navBar {
  padding: 10px;
  /*border-bottom: 1px solid #ddd;*/
  max-width: 720px;
  text-align: center;
  margin: 60px auto;
}

.navBar h1 {
  padding: 0px;
  margin: 0px;
  font-size: 22px;
}

.container {
  max-width: 720;
  margin: 0px auto;
}

.container > ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 20px;
}
