.post {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;
  background-color: white;
}

.post-container {
  color: black;
  background-color: white;
}

.header {
  
}

.nav-bar {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 0;
  width: 100%;
  padding: 10px;
}

.nav-bar h1 {
  font-size: 20px;  
  margin: 0;
}

.header-content {
  margin: 0px auto;
  max-width: 800px;
  padding: 100px 100px 0;
  color: white;
}

.header-content h1 {
  font-size: 54px;
  font-weight: 100;
  margin: 0;
}

.tags-box {
  composes: tags-box from "./preview.css";
}

.date {
  composes: date from "./preview.css";
  color: white;
  font-size: 20px;
  padding-top: 30px;
  letter-spacing: 2px;
}

.subhead {
  composes: subhead from "./preview.css";
  padding-top: 30px;
  font-style: italic;
  color: white;
}

.tags-box li {
  color: white;
  letter-spacing: 2px;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
}

.post-container p, .post-container ul, .post-container h1, .post-container h2, .post-container h3, .post-container h4 {
  line-height: 1.8em;
  letter-spacing: 0.04em;
  margin: 32px 0;
}

.post-body {
  margin: 0px auto;
  padding: 60px 0;
  max-width: 800px;
}

.post-body p, .post-body ul, .post-body h1, .post-body h2, .post-body h3, .post-body h4, .post-body h5, .post-body h6 {
  padding-left: 100px;
  padding-right: 100px;
}
