

.preview-block h1 {
  font-family: "proxima-nova";
  margin: 0px;
  line-height: 1.3em;
}

.preview-block {
  display: block;
  width: 46%;
  margin-right: 4%;
  margin-bottom: 60px;
}

.preview-content {
  /*max-height: 100px;*/
  padding-top: 10px;
  padding-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tags {
  list-style: none;
  margin: 10px;
}

.tags-box {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tags-box li {
  display: inline-block;
  margin-right: 10px;
  border-radius: 3px;
  font-size: 12px;
  /*border: 1px solid #dfdfdf;*/
  font-family: "proxima-nova";
  text-transform: uppercase;
  /*padding: 2px 7px;*/
  letter-spacing: 2px;
  color: #F43F2A;
}

.author {
  text-transform: uppercase;
  color: #bbb;
  font-size: 13px;
  font-weight: 400;
  font-family: "proxima-nova";
  margin-bottom: 0;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.preview-block p {
  margin: 5px 0px;
}
